.board {
  width: 324px;
  height: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.thumbnail {
  width: 265px;
  height: 181px;
  grid-column: 1 / 5;
}
.thumbnail img {
  width: 100%;
  height: auto;
}

.sidebar {
  width: 65px;
  height: 181px;
  background-color: #C4C4C4;
  grid-column: 5 / 6;
}
.sidebar img {
  width: 40px;
  height: auto;
  margin: 33px 0px 0px 13px;
}

.sidebar img:hover {
  filter: invert(1);
  width: 42px;
  height: auto;
}
.bar {
  width: 324px;
  height: 60px;
  background-color: #343a40;
  color: #9d9d9d;
  color: white;
  grid-column: 1 / 6;
  font-size: 24px;
  padding: 12px 0px 0px 20px;
  font-weight: bold;
}

/* summary */
.summary {
  display: inline-block;
  max-width: 324px;
  background-color: #343a40;
  color: #E5E5E5;
  padding: 15px;
  box-shadow: inset 0px 5px 10px rgba(0,0,0,0.4);
  word-wrap: break-word;
  overflow: hidden;
}
.summary a {
  color: #17a2b8;
  font-size: 14px;
}

@media (min-width: 768px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .board {
    grid-column: 1 / 2;
  }
  .summary {
    grid-column: 2 / 4;
    height: 241px;
    max-width: 648px;
    box-shadow: inset 5px 0px 5px rgba(0,0,0,0.4);
  }
}
