.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.link
{
 color:#6c757d;
 text-decoration: underline; 
 background-color: none;
}
html {
  position: relative;
  min-height: 100%;
}

/* Primary Theme */
body {
 background-color: rgba(0, 0, 0, 0.055);
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}



/* Portfolio */
#project-wall{
  position: relative;
  margin: auto;
  width: 50%;
}
#box{
  position: relative;
  margin: auto;
  width: 100%;
}

#project-box{
  position: relative;
  width: 100%;
}

#project-name{
  position: relative;
  width: 100%;
  height: 30px;
  bottom: 20px;
  background-color:#17a2b8;
  color: white;
  text-align: center;
  font-weight: bold;
}

.img-fluid{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* contact */
  label{
    color: #343a40;
  }

  /* footer */
.footer-space {
  position: absolute;
  bottom: 0px;
  width: 100%;

  height: 70px;
}
#footer-trim{
position: absolute;
bottom: 60px;
width: 100%;
height: 5px;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: darkgray;
  margin-top: 60px;
};

