.link {
  color: #6c757d;
  text-decoration: underline;
  background-color: none;
}
html {
  position: relative;
  min-height: 100%;
}

/* Primary Theme */
body {
  background-color: rgba(0, 0, 0, 0.055);
  margin-bottom: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}
.text-info {
  padding: 2% !important;
}

/* HOME */
.about {
  min-height: 400px;
  font-size: 20px;
}
.float-left {
  width: 200px;
  height: auto;
}
.bio {
  overflow: auto;
}
.tech-skills {
  display: block;
  width: 100%;
  font-size: 26px;
  text-align: center;
  margin: 10px 0px 10px 0px;
  color: #343a40;
}
.text {
  color: #343a40;
  font-weight: bold;
}
/* PORTFOLIO */
.text-info {
  padding: 15%;
}
.wrapper {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}

/* CONTACT */
label {
  color: #343a40;
}
.kenny {
  font-size: 24px;
  color: #343a40;
  padding: 0px 25px 15px 0px;
}
.social-network i {
  font-size: 22px;
  color: #343a40;
  padding: 0px 25px 15px 0px;
}
.contact-form {
  padding-top: 15px;
}
.fas {
  font-weight: normal;
}
.kLogo {
  display: none;
}

/* grid */
@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .line {
    grid-column: 1 / 4;
  }
  .contact-form {
    max-width: 500px;
    grid-column: 2 / 4;
  }
  .contact-link {
    display: flex;
    padding: 0px 0px 0px 10px;
  }
  .kenny {
    font-size: 2rem;
    padding: 0px 0px 25px 10px;
  }
  .social-network i {
    font-size: 20px;
  }
  .kLogo {
    display: inline;
    padding: 0px 0px 0px 10px;
    opacity: 60%;
    max-height: 150px;
  }
}

/* NavBar */
.navbar-brand img {
  position: relative;
  height: 40px;
  width: auto;
  background-size: contain;
  padding: 0px 15px 0px 0px;
}
.navbar-brand {
  line-height: 45px;
}

.nav-link {
  color: #17a2b8;
}
.nav-link:hover {
  color: #17a2b8;
}

/* footer */
.footer-space {
  position: absolute;
  bottom: 0px;
  width: 100%;

  height: 70px;
}
#footer-trim {
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 5px;
}
footer {
  position: absolute;
  margin-top: 60px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: darkgray;
}
